<section>
  <div class="authentication-wrappen">
    <div class="authentication-wrappen-left"></div>
    <div class="authentication-wrappen-right">
      <div [@formTransition]="isLogin ? 'login' : 'register'">
        <ng-container *ngIf="isLogin; else registerForm">
          <app-login-form (createAccount)="toggleLogin()"></app-login-form>
        </ng-container>
        <ng-template #registerForm>
          <app-register-form
            (createAccount)="toggleLogin()"
          ></app-register-form>
        </ng-template>
      </div>
    </div>
  </div>
</section>
